<!DOCTYPE html>
<html>

<head>
    <title>Animal Crossing</title>
    <link rel="stylesheet" href="styles.css">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
</head>



<body>

    <h1>Animal Crossing</h1>

    <div id="app">
        <h2>Availiable</h2>
        <fish-row v-for="fish in availableFish" 
            v-bind:key="fish.id"
            v-on:on-select="completeFish(fish.id)" 
            v-bind:fish="fish" 
            v-bind:select-action="completeButtonText">
        </fish-row>

        <h2>Completed</h2>
        <fish-row v-for="fish in computedCompletedFish" 
            v-bind:key="fish.id"
            v-on:on-select="unCompleteFish(fish.id)" 
            v-bind:fish="fish" 
            v-bind:select-action="unCompleteButtonText">
        </fish-row>
    </div>



    <script>
        var app = new Vue({
            el: '#app',
            data: {
                completeButtonText: "Complete",
                unCompleteButtonText: "Reset",
                fishArray: [],
                completedFishIds: []
            },
            methods: {
                completeFish: function (fishId) {
                    this.completedFishIds = [...this.completedFishIds, fishId];
                },
                unCompleteFish: function (fishId) {
                    this.completedFishIds = this.completedFishIds
                        .filter(id => fishId !== id)
                },
                clearStorage: function() {
                    localStorage.removeItem("completedFishIds")
                    localStorage.removeItem("fishArray")

                }
            },
            watch: {
                completedFishIds(completedFishIds) {
                    console.log("Saving completed fish ids")
                    localStorage.completedFishIds  = JSON.stringify(completedFishIds);
                }
            },
            computed: {
                computedCompletedFish: function() {
                    return this.fishArray.filter(
                        fish => this.completedFishIds.includes(fish.id)
                    )
                },
                availableFish: function() {
                    return this.fishArray.filter(
                        fish => this.completedFishIds.includes(fish.id) == false
                    )
                }

            },
            mounted: async function () {
                // this.clearStorage()        
                if(localStorage.fishArray) {
                    this.fishArray = JSON.parse(localStorage.fishArray);
                } else {
                    const fishes = await fetchFish()
                    this.fishArray = Object.values(fishes);
                    localStorage.fishArray = JSON.stringify(this.fishArray);
                }

                if(localStorage.completedFishIds) {
                    this.completedFishIds = JSON.parse(localStorage.completedFishIds);
                }
            }
        })

        Vue.component('fish-row', {
            props: ['fish', "selectAction"],
            data: () => ({
                monthArray: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            }),
            methods: {
                selectFish: function (fish) {
                    this.$emit("on-select")
                }
            },
            /*html*/
            template: `
            <div class="fish-container">
                <h2 class="fish-label">{{fish.name["name-USen"]}}</h2>
            <div class="fish-info-layout" v-on:click="selectFish">
            <div class="fish-image"><img v-bind:src="fish.icon_uri" /></div>

            <div class="fish-info availability">
                <label>Availability</label>
                <p>{{fish.availability.isAllDay ? "All Day": fish.availability.time}}</p>
            </div>
            <div class="fish-info location">
                <label>Location</label>
                <p>{{fish.availability.location}}</p>
            </div>
            <div class="fish-info rarity">
                <label>Rarity</label>
                <p>{{fish.availability.rarity}}</p>
            </div>
            <div class="fish-info shadow">
                <label>Shadow</label>
                <p>{{fish.shadow}}</p>
            </div>
            <div class="months">
                <div v-for="i in 12">
                    <div class="enabled-month month" v-if="fish.availability['month-array-northern'].includes(i)">
                        {{monthArray[i-1]}}
                    </div>
                    <div class="disabled-month month" v-else>
                        {{monthArray[i-1]}}
                    </div>
                </div>
            </div>
            </div>
            </div>
            `
        })
        function fetchFish() {
            return fetch('https://acnhapi.com/v1/fish')
                .then(response => response.json())
        }

    </script>


</body>

</html>