/* 
blue: #AAD5DA
green: #B8DFB5
white: #F0ECE7
brown: #CBA887
black: #2D2E30
*/


:root {
    --blue: #AAD5DA;
    --green: #B8DFB5;
    --white: #F0ECE7;
    --brown: #CBA887;
    --black: #2D2E30;  
}

body {
    /* background: var(--white); */
    padding: 0;
    margin: 0;
    background: var(--white)
}

h1, h2 {
    /* background: var(--green); */
  
    text-align: center;
}



p {
    margin: 0.5em;
    padding: 0;
}


.fish-container {
    /* background: var(--blue); */
    display: grid;
    grid-template-areas: 
        "fish-image fish-name          .              .            .            months"
        "fish-image availability-title location-title rarity-title shadow-title months"
        "fish-image availability-info  location-info  rarity-info  shadow-info  months"
        ;

    margin: .4em;
    
    box-shadow:  2px 2px 4px 1px rgba(0,0,0,0.75);;
    grid-template-columns: auto 2fr 2fr 2fr 2fr 2fr;
    background: var(--white);
}

.fish-container > img {
    grid-area: fish-image;
    background: var(--blue);
    object-fit: contain;
}

.fish-container > label {
    grid-area: fish-name;
    justify-self: start;
}   

p.fish-info,  label.fish-info {
    place-self: start;
    margin: 0;
    padding: 0;
}

label.availability {
    grid-area: availability-title;
}
p.availability {
    grid-area: availability-info;   
}

label.location {
    grid-area: location-title;
}
p.location {
    grid-area: location-info;   
}

label.rarity {
    grid-area: rarity-title;
}
p.rarity {
    grid-area: rarity-info;
}

label.shadow {
    grid-area: shadow-title;
}
p.shadow {
    grid-area: shadow-info;  
}

.months {
    /* background: var(--brown); */
    grid-area: months;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    /* justify-items: stretch; */
    /* align-items: stretch; */
    gap: 4px;
    /* align-content: center; */
}

.month {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enabled-month {
    background: var(--green);
}

.disabled-month {
    
}



