/* 
blue: #AAD5DA
green: #B8DFB5
white: #F0ECE7
brown: #CBA887
black: #2D2E30
*/


:root {
    --blue: #AAD5DA;
    --green: #B8DFB5;
    --white: #F0ECE7;
    --brown: #CBA887;
    --black: #2D2E30;  
}

body {
    /* background: var(--white); */
    padding: 0;
    margin: 0;
    background: var(--white)
}

h1, h2 {
    /* background: var(--green); */
  
    text-align: center;
}



p {
    margin: 0.5em;
    padding: 0;
}


.fish-container {
    /* background: var(--blue); */
    display: grid;
    grid-template-areas: 
        "fish-image fish-name        .        .      .       months"
        "fish-image availability     location rarity shadow  months"
        ;

    margin: .4em;
    
    box-shadow:  2px 2px 4px 1px rgba(0,0,0,0.75);;
    grid-template-columns: auto 2fr 2fr 2fr 2fr 2fr;
    background: var(--white);
}

.fish-container > img {
    grid-area: fish-image;
    background: var(--blue);
    object-fit: contain;
    width: 100px;
}

.fish-container > label {
    grid-area: fish-name;
    justify-self: start;
}   

.fish-info {
    justify-self: start;

    border-right: 1px solid grey;

    margin: 0;
    padding: 10px;
}

/* .fish-info.end {
    border-right: none;
} */

.availability {
    grid-area: availability;
}

.location {
    grid-area: location;
}
.rarity {
    grid-area: rarity;
}
.shadow {
    grid-area: shadow;
}

.months {
    /* background: var(--brown); */
    grid-area: months;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    /* justify-items: stretch; */
    /* align-items: stretch; */
    gap: 4px;
    /* align-content: center; */
}

.month {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enabled-month {
    background: var(--green);
}

.disabled-month {
    
}



